/* body {
  height: 800px;
  background-image: url("https://i.pinimg.com/564x/2a/0e/4a/2a0e4aedfe11ec30c9fc5b6f20567479.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* font-family: 'Permanent Marker'; */

/* } */

.body-wrapper {
  display: flex;
  flex-direction: row;
  font-family: Courier, sans-serif;
  height: 800px;
  background-image: url("https://i.pinimg.com/564x/2a/0e/4a/2a0e4aedfe11ec30c9fc5b6f20567479.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

h1 {
  line-height: 0.5rem;
}

h2 {
  margin-bottom: -0.5rem;
}

h3 {
  margin-bottom: -0.5rem;
}

h4 {
  line-height: 0.5rem;
  margin-bottom: 0.5rem;
}

input, select {
  margin: 0.5rem;
}

.show-button {
  color: red;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: YellowGreen;
  margin: 3rem 3rem 3rem 3rem;
  height: 600px;
  width: 300px;
  padding: 0.5rem 0.5rem;
  border: 0px none;
  border-radius: 3%;
}

.bar-item {

}

.paddock-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin: 1.2rem 0rem 0rem 0rem;
  /* padding: 0.5rem 0.5rem;
  border: 0px none;
  border-radius: 3%; */

}

.paddock-item {
  margin: 0.5rem;
  width: 150px;
  height: 250px;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  border: 5px;
  border-color: YellowGreen;
  border-width: thick;
  border-style: solid;
  border-radius: 3%;
}
