body {
  height: 800px;
  background-image: url("https://i.pinimg.com/564x/2a/0e/4a/2a0e4aedfe11ec30c9fc5b6f20567479.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Permanent Marker';

}
